nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 230px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.sp {
    color: #FD6E0A;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.bt{
    width: 150px;
    height: 50px;
    color: #FD6E0A;
    border-color: #FD6E0A;
    background-color:#FFF8F3;
    margin-left: 20px;
}

.x {
    font-size: 45px;
    font-weight: 600;
}

.y {
    font-weight: bold;
    font-size: 85px;

}

.pp {}

.pic {
    width: 580px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}

.ban {
    max-width: 580px;
}

.hhead {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.secdec {
    
}
.section-title{
    text-align: center;
}
.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    height: 300 px;
    margin-bottom: 130px;

}

main {
    max-width: 1240px;
    margin: 0 auto;
    align-items: centers;
    justify-content: center;
    

}

.tem-description {
    font-weight: 600;

}

.about-items {
    display: flex;
    justify-content: space-around;
}
.skills{
    width:1200px ;
    margin-left:60px;
}

.sk{
    display: flex;
    margin-top: 60px;
    gap: 24px;
}
.sskk{
    text-align: left;
   padding: 20px;
   box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   border-radius: 5px;
}
.resume-container{
    display: flex;
    gap: 26px;
}
.experience-description {
    color: rgba(117, 117, 117, 1);
    
}
.experience-sub-title{
    color: rgba(117, 117, 117, 1);
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0px;

}
.experience-title{
    margin-bottom: 0px;
}

.resume hr{
    margin: 30px 5px;
}
.vv{
    text-align: center;
    align-items: center;
    margin-top: 60px;
}
    .resume{
        margin-top: 100px;
    }
    footer{
        padding: 130px 230px;
        display: flex;
        gap: 100px;
        background-color: rgba(255, 248, 243, 1);
        margin-top: 40px;

    }
    .footer-column{
        width: 50%;

    }
    footer input[type="text"],footer input[type="email"] ,footer textarea{
        height: 64px;
        border-radius: 5px;
        background-color: white;
        display: block;
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 24px;
        border: none;

    }


